body {
    font-family: 'Poppins', sans-serif;
}

/* navbar styles */
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 2rem;
}

.nav-img {
    height: 80px;
    width: 300px;
}

.navbar-light .navbar-nav .nav-link {
    color: #777777;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 40px;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 600;
    line-height: 60px;
}

.nav-button button {
    width: 150px;
    height: 56px;
    font-size: 20px;
    font-weight: 600;
    color: #289BDE;
    border: 1px solid #289BDE;
}

/* carousel-item styles */
.carousel-item::before {
    content: "";
    background: rgba(29, 29, 29, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}



/* course styles */
.course-btn {
    width: 250px;
    margin: auto;
    padding-top: 30px;
}

/* campus styles */
.intro-btn button {
    font-size: 20px;
    font-weight: 600;
    background: #289BDE;
    color: #FFFFFF;
}

@media screen and (min-width:577px) and (max-width:992px) {
    .campus-text {
        font-size: 12px !important;
    }

    .campus-details {
        /* text-align: center; */
        padding-left: 0;
    }
}

@media screen and (max-width:576px) {
    .join-title {
        text-align: center;
        padding-left: 0;
    }

    .successjj-card {
        text-align: center;
    }

}